*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

*::selection{
  background-color: #8DAF39;
  color: #fff;
}

:root{
  --font-color : #134888 ;
  --main-color : #8DAF39 ;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 , h3, h4 , h5{
  text-transform: uppercase;
}
input:focus{
  outline: 0cm;
}
textarea:focus{
  outline: 0ch;
}
a{
  text-decoration: none !important;
}